@model IEnumerable<BudgetManagementApp.ViewModels.BudgetDetailsVM>

@{
    ViewBag.Title = "Budget";
}

<p class="h2 text-light">Budget</p>
@Html.ActionLink("Create New", "Create", null, htmlAttributes: new { @class = "btn btn-outline-primary mb-3 mt-2" })
<table class="table table-dark table-striped">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BudgetCategory)
        </th>
        <th>Actions</th>
    </tr>
    @foreach (var item in Model)
    {        
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BudgetCategory.Name)
            </td>
            <!--<td class="d-flex flex-wrap justify-content-lg-evenly justify-content-sm-wrap justify-content-md-evenly">-->
            <td>
                @Html.ActionLink("Add to report", "AddBudgetToReport", null, new { id = item.Id },
                         htmlAttributes: new { @class = "btn btn-outline-secondary btn-sm me-3" })

                @Html.ActionLink("Details", "Details", null, new { id = item.Id },
                         htmlAttributes: new { @class = "btn btn-outline-success btn-sm me-3" })

                @Html.ActionLink("Edit", "Edit", null, new { id = item.Id },
                         htmlAttributes: new { @class = "btn btn-outline-warning btn-sm me-3" })
                
                @Html.ActionLink("Delete", "Delete", null, new { id = item.Id },
                         htmlAttributes: new { @class = "btn btn-outline-danger btn-sm" })
            </td>
        </tr>
    }
</table>
  