@page
@model BudgetManagementApp.ViewModels.TransferVM
@{
    ViewBag.Title = "Transfer";
}


<p class="h3">Budget</p>
<p class="h3">Transfer</p>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Lom</h4>
        <hr />
        @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.BudgetAmountId)

        <div class="form-group">

            @Html.LabelFor(model => model.BudgetId, new { @class = "control-label col-md-2" })

            <div class="col-md-3 mb-3">
                @Html.DropDownListFor(model => model.BudgetId, Model.Budgets, "Choose a budget...",
                         new { @class = "form-control" })


                @Html.ValidationMessageFor(model => model.BudgetId)
            </div>
        </div>




        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add" class="btn btn-outline-primary mb-3 mt-2" />
            </div>



        </div>



    </div>

}
<div>
    @Html.ActionLink("Back to List", "List")
</div>