@model BudgetManagementApp.ViewModels.ReportDetailsVM

@{
    ViewBag.Title = "Details";
}

<p class="h3">Reports</p>
<h2>Details</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BudgetReports)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BudgetReports)
        </dd>

        @foreach (var br in Model.BudgetReports) { 
            <p class="h5">@br.Budget.Name</p>
            <div class="col-md-6">
                <table class="table table-hover">
                    @foreach (var item in br.Budget.BudgetAmounts)
                    {

                        @if (item.Type == BudgetManagement.Shared.Enums.BudgetType.Income)
                        {

                            <tr class="table-success">
                                <td class="text-dark">
                                    @Html.DisplayNameFor(model => item.Amount)
                                </td>
                                <td class="text-dark">
                                    @Html.DisplayFor(model => item.Amount)
                                </td>
                                <td class="col-1">
                                    @Html.ActionLink("Transfer", "Transfer", new { id = item.Id },
                                             htmlAttributes: new { @class = "btn btn-outline-dark btn-sm" })
                                </td>

                            </tr>
                        }

                        else
                        {
                            <tr class="table-danger ">
                                <td class="text-dark">
                                    @Html.DisplayNameFor(model => item.Amount)
                                </td>
                                <td class="text-dark">
                                    @Html.DisplayFor(model => item.Amount)
                                </td>
                                <td class="col-1">
                                    @Html.ActionLink("Transfer", "Transfer", new { id = item.Id },
                                             htmlAttributes: new { @class = "btn btn-outline-dark btn-sm" })
                                </td>
                            </tr>
                        }

                    }
                </table>
            </div>

        }


    </dl>
</div>
<div class="my-3">
    @Html.ActionLink("Edit", "Edit", null, new { id = Model.Id },
            htmlAttributes: new { @class = "btn btn-outline-warning btn-sm me-3" })

    @Html.ActionLink("Delete", "Delete", null, new { id = Model.Id },
            htmlAttributes: new { @class = "btn btn-outline-danger btn-sm me-3" })
</div>

<div>
    @Html.ActionLink("Back to List", "List")
</div>