@model IEnumerable<BudgetManagementApp.ViewModels.FinanceGoalDetailsVM>

@{
    ViewBag.Title = "Finance Goals";
}

<p class="h2 text-light">Finance Goals</p>
@Html.ActionLink("Create New", "Create", null, htmlAttributes: new { @class = "btn btn-outline-primary mb-3 mt-2" })
<table class="table table-dark table-striped">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Budget)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User)
        </th>
        <th>Actions</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Budget)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", null, new { id = item.Id },
                         htmlAttributes: new { @class = "btn btn-outline-warning btn-sm" })
                @Html.ActionLink("Details", "Details", null, new { id = item.Id },
                         htmlAttributes: new { @class = "btn btn-outline-success btn-sm" })
                @Html.ActionLink("Delete", "Delete", null, new { id = item.Id },
                         htmlAttributes: new { @class = "btn btn-outline-danger btn-sm" })
            </td>
        </tr>
    }
</table>